<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <p>{{ form.author }}</p>
    <p>{{ form.text }}</p>
    <p>{{ form.likes }}</p>
    <input type="submit" value="Submit"></buttom>
</form>
{% for post in posts %}
    <h2>{{ post.author.username }}</h2>
    <br>
    <p>{{post.text}}</p>
    <p>{{post.likes}}</p>
    <hr>
{% empty %}
    <h2>Sorry, empty</h2>
{% endfor %}
</body>
</html>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem beatae commodi consectetur delectus
    dolor, dolorem ea est et hic ipsa modi nesciunt, non odio possimus qui repudiandae sequi unde.
</div>
<div>Blanditiis consequatur, dignissimos esse fugiat illo in ipsam magnam magni perspiciatis placeat provident, quaerat
    quas quibusdam quisquam ratione recusandae temporibus! Aliquam architecto asperiores consequuntur eaque ex
    excepturi, fugit omnis tenetur.
</div>
<div>Consectetur consequuntur, debitis facere fugit minima nostrum officia reiciendis! Amet cupiditate delectus dolore
    dolorem harum id illum incidunt maiores nulla, omnis, pariatur perspiciatis, provident quibusdam quidem sunt vel
    voluptate voluptatum!
</div>
<div>Adipisci, aliquam aut autem corporis doloremque dolores, explicabo facilis illum inventore ipsam iure labore modi
    odit possimus quisquam quos recusandae sequi voluptas voluptate voluptatem. Animi corporis cupiditate delectus
    exercitationem repudiandae?
</div>