<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
</head>
<body>


<form action="#" method="POST">
    {% csrf_token %}
    <p>{{ form.author }}</p>
    <p>{{ form.text }}</p>
    <p>{{ form.likes }}</p>
    <input id="form_send" type="submit" value="Submit"></buttom>
</form>
{% for post in posts %}
    <h2>{{ post.author.username }}</h2>
    <br>
    <p>{{ post.text }}</p>
    <p>{{ post.likes }}</p>
    <hr>
{% empty %}
    <h2>Sorry, empty</h2>
{% endfor %}


<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script>
    socket = new WebSocket("ws://" + window.location.host + "/chat/");


    socket.onmessage = function (e) {
        $('h2.hello').text(re);
        re += 1;
    }

    $('input.button').click(function () {
        socket.send();
    })

    {#    socket.onopen = function () {}#}
</script>

</body>
</html>