<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<div>
    <textarea name="message" id="message" cols="30" ></textarea>
</div>
<button id="btnSubmit">Submit</button>

<div id="msgArea">
<hr>
{% for text in req %}

    <p class = "textfield">{{ text.text }}</p>
    <hr>
{% empty %}
    <p>Sorry, im cry</p>
{% endfor %}

</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script>
        $(document).ready(function(){
            var msgArea = $('#msgArea')
            var elementMessage = $('#message')
            var webSocket = new WebSocket('ws://' + window.location.host + '/wss/');

            webSocket.onmessage = function(message) {
                var data = JSON.parse(message.data)
                msgArea.prepend('<hr>'+'<p>' + data.message + '</p>')
            }

            $('#btnSubmit').click(function(e) {
                webSocket.send(elementMessage.val())
                $(elementMessage).val("");
            })
        })
    </script>
</body>
</html>